<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="page(module)">
    <a class="navbar-brand" href="#">
        <span th:text="#{nav.title}"/>
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" th:classappend="${module == 'dashboard' ? 'disabled' : ''}">
            <a class="nav-link" href="/dashboard"><span th:text="#{nav.dashboard}"/></a>
        </li>
        <li class="nav-item" th:classappend="${module == 'door' ? 'disabled' : ''}">
            <a class="nav-link" href="/door"><span th:text="#{nav.door}"/></a>
        </li>
        <li class="nav-item" th:classappend="${module == 'cron' ? 'disabled' : ''}">
            <a class="nav-link" href="/cron"><span th:text="#{nav.cron}"/></a>
        </li>
        <li class="nav-item" th:classappend="${module == 'config' ? 'disabled' : ''}">
            <a class="nav-link" href="/config"><span th:text="#{nav.config}"/></a>
        </li>
        <li class="nav-item" th:classappend="${module == 'cam' ? 'disabled' : ''}">
            <a class="nav-link" href="/cam"><span th:text="#{nav.cam}"/></a>
        </li>
        <li class="nav-item" th:classappend="${module == 'audit' ? 'disabled' : ''}">
            <a class="nav-link" href="/audit?pageNumber=1"><span th:text="#{nav.audit}"/></a>
        </li>
    </ul>


    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
</nav>
</body>