<!DOCTYPE HTML>
<html>
<head>
    <title>Poule audit</title>
    <meta http-equiv="Content-Type" content="text/html;" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav th:replace="fragments/nav :: page(module='config')">...</nav>

    <div class="mx-auto p-2">

        <h2 th:text="#{audit.title}"></h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="audit : ${currentPage.content}">
                    <th scope="row" th:text="${audit.id}">Id</th>
                    <td th:text="${audit.date}">Date</td>
                    <td th:text="${audit.comment}">Action</td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Audit navigation">
            <ul class="pagination">
                <li class="page-item" th:each="page : ${pages}" th:classappend="${page.pageNumber == currentPageNumber} ? active : ''">
                    <a class="page-link" th:text="${page.pageNumber}" th:href="@{${'/audit?pageNumber=' + page.pageNumber}}">x</a>
                </li>
            </ul>
        </nav>

    </div>
</body>
</html>