<!DOCTYPE HTML>
<html>
<head>
    <title>Poule index</title>
    <meta http-equiv="Content-Type" content="text/html;" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav th:replace="fragments/nav :: page(module='dashboard')">...</nav>

    <div class="jumbotron">
        <h1 class="display-4">Bienvenue dans le poulailler !</h1>
        <p class="lead">C'est une application toute simple pour pouvoir gérer l'ouverture et la fermeture du poulailler.</p>
        <hr class="my-4">
        <p>Clique sur "Porte" pour commencer à gérer la porte du poulailler</p>
        <iframe th:url="${url}" width="800" height="600"/>
        <a class="btn btn-primary btn-lg" href="#" role="button">Pour en savoir plus</a>
    </div>


</body>
</html>