<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="page(module)">
    <a class="navbar-brand" href="#">
        <span th:text="#{nav.title}"/>
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" th:classappend="${module == 'dashboard' ? 'disabled' : ''}">
            <a class="nav-link" href="/dashboard"><span th:text="#{nav.dashboard}"/></a>
        </li>
        <li class="nav-item" th:classappend="${module == 'door' ? 'disabled' : ''}">
            <a class="nav-link" href="/door"><span th:text="#{nav.door}"/></a>
        </li>
        <li class="nav-item" th:classappend="${module == 'cron' ? 'disabled' : ''}">
            <a class="nav-link" href="/cron"><span th:text="#{nav.cron}"/></a>
        </li>
        <li class="nav-item" th:classappend="${module == 'cam' ? 'disabled' : ''}">
            <a class="nav-link" href="/cam"><span th:text="#{nav.cam}"/></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav.admin}">
                Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/audit?pageNumber=1" th:text="#{nav.audit}"></a>
                <a class="dropdown-item" href="/supervision" th:text="#{nav.supervision}"></a>
                <a class="dropdown-item" href="/config" th:text="#{nav.config}"></a>
            </div>
        </li>
    </ul>
</nav>
</body>