<!DOCTYPE HTML>
<html>
<head>
    <title>Poule audit</title>
    <meta http-equiv="Content-Type" content="text/html;" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/98f595d35c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <</head>
<body>
    <nav th:replace="fragments/nav :: page(module='config')">...</nav>

    <div class="mx-auto p-2">

        <h2 th:text="#{audit.title}"></h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:text="#{audit.sharp}">#</th>
                <th scope="col" th:text="#{audit.date}">Date</th>
                <th scope="col" th:text="#{audit.action}">action</th>
                <th scope="col" th:text="#{audit.time}">Temps passé</th>
                <th scope="col" th:text="#{audit.caller}">Appelant</th>
                <th scope="col" th:text="#{audit.oldValue}">Ancienne valeur</th>
                <th scope="col" th:text="#{audit.newValue}">Nouvelle valeur</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="audit : ${currentPage.content}">
                    <th scope="row" th:text="${audit.id}">-</th>
                    <td th:text="${audit.date}">-</td>
                    <td th:text="#{${audit.comment}}">-</td>
                    <td th:text="${audit.time}">-</td>
                    <td th:text="${audit.remoteAddr}">-</td>
                    <td th:text="${audit.oldValue}">-</td>
                    <td th:text="${audit.newValue}">-</td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Audit navigation">
            <ul class="pagination">
                <li class="page-item" th:each="page : ${pages}" th:classappend="${page.pageNumber == currentPageNumber} ? active : ''">
                    <a class="page-link" th:text="${page.pageNumber}" th:href="@{${'/audit?pageNumber=' + page.pageNumber}}">x</a>
                </li>
            </ul>
        </nav>

    </div>
</body>
</html>