<!DOCTYPE HTML>
<html>
<head>
    <title>Poule config</title>
    <meta http-equiv="Content-Type" content="text/html;" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/98f595d35c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav th:replace="fragments/nav :: page(module='config')">...</nav>

    <div class="mx-auto p-2">

        <h2 th:text="#{config.title}"></h2>

        <div class="alert alert-success" role="alert" th:if="${ info != null}">
            <span th:text="#{${info}}"/>
        </div>
        <div class="alert alert-error" role="alert" th:if="${ error != null}">
            <span th:text="#{${error}}"/>
        </div>

        <form th:action="@{/config/save}" method="post" th:object="${config}" id="form_config">
            <div class="container">
                <div class="row">
                    <div class="col">
                            <!-- Config. réseau -->
                            <h3 th:text="#{config.network}"></h3>
                            <div class="input-group mb-3">
                                <span class="input-group-text" th:text="#{config.cam.url}"/>
                                <input type="text" th:field="*{webcamUrl}" class="form-control" size=10 th:errorclass="fieldError">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('webcamUrl')}" th:errors="*{webcamUrl}"></div>
                            </div>
                     </div>
                </div>
                <div class="row">
                    <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" th:text="#{config.supervision.url}"/>
                                <input type="text" th:field="*{apiSupervisionUrl}" class="form-control" size=10 th:errorclass="fieldError">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('apiSupervisionUrl')}" th:errors="*{apiSupervisionUrl}"></div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" th:text="#{config.door.url}"/>
                                <input type="text" th:field="*{apiDoorUrl}" class="form-control" size=10 th:errorclass="fieldError">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('apiDoorUrl')}" th:errors="*{apiDoorUrl}"></div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                            <!-- Config. de la porte -->
                            <h3 th:text="#{config.door}"></h3>
                            <div class="input-group mb-3">
                                <label class="input-group-text" th:text="#{door.action_duration.step.open}"/>
                                <input type="number" th:field="*{openStepTime}" class="form-control" size=10 th:errorclass="fieldError">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('openStepTime')}" th:errors="*{openStepTime}"></div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" th:text="#{door.action_duration.step.close}"/>
                                <input type="number" th:field="*{closeStepTime}" class="form-control" size=10 th:errorclass="fieldError">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('closeStepTime')}" th:errors="*{closeStepTime}"></div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" th:text="#{door.action_duration.open}"/>
                                <input type="number" th:field="*{openTime}" class="form-control" size=10>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('openTime')}" th:errors="*{openTime}"></div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" th:text="#{door.action_duration.close}"/>
                                <input type="number" th:field="*{closeTime}" class="form-control" size=10>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('closeTime')}" th:errors="*{closeTime}"></div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text" th:text="#{config.door.open}"></label>
                            <input type="number" th:field="*{openHour}" class="form-control">
                            <input type="number" th:field="*{openMinutes}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text" th:text="#{config.door.close}"></label>
                            <input type="number" th:field="*{closeHour}" class="form-control">
                            <input type="number" th:field="*{closeMinutes}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary" th:text="#{config.save}" form="form_config">Save config</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>