<!DOCTYPE HTML>
<html>
<head>
    <title>Poule cron</title>
    <meta http-equiv="Content-Type" content="text/html;" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/98f595d35c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav th:replace="fragments/nav :: page(module='cron')">...</nav>

    <div class="mx-auto p-2">

        <h2 th:text="#{cron.title}"></h2>

        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${ info != null}">
            <span class="fas fa-info-circle">&nbsp;&nbsp;&nbsp;</span>
            <span th:text="#{${info}}"/>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${ error != null}">
            <span class="fas fa-exclamation-triangle">&nbsp;&nbsp;&nbsp;</span>
            <span th:text="#{${error}}"/>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <form action="/cron/open" method="post" th:object="${cron}" id="form_open">
                        <div class="form-group">
                            <label for="OpenExpression" th:text="#{cron.open.expression}"/>
                            <input type="text" th:field="*{openExpression}" class="form-control" size=10/>
                        </div>
                    </form>
                    <form action="/cron/close" method="post" th:object="${cron}" id="form_close">
                        <div class="form-group">
                            <label for="CloseExpression" th:text="#{cron.close.expression}"/>
                            <input type="text" th:field="*{closeExpression}" class="form-control" size=10/>
                        </div>
                    </form>
                    <form action="/cron/shutdown" method="post" th:object="${cron}" id="form_shutdown">
                    </form>
                    <form action="/cron/start" method="post" th:object="${cron}" id="form_start">
                    </form>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-info" disabled>
                            <div th:if="${schedulerPaused == false}" class="text-success">
                                <span class="fas fa-bell">&nbsp;&nbsp;</span>
                                <span th:text="#{cron.status.active}">scheduler active</span>
                            </div>
                            <div th:unless="${schedulerPaused == false}"  class="text-danger">
                                <span class="fas fa-pause">&nbsp;&nbsp;</span>
                                <span th:text="#{cron.status.paused}">scheduler paused</span>
                            </div>
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" form="form_open">
                            <span class="fas fa-cogs">&nbsp;&nbsp;</span>
                            <span th:text="#{cron.open}"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" form="form_close">
                            <span class="fas fa-cogs">&nbsp;&nbsp;</span>
                            <span th:text="#{cron.close}"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <button th:if="${schedulerPaused == false}" type="submit" class="btn btn-danger" form="form_shutdown">
                            <span class="fas fa-pause">&nbsp;&nbsp;</span>
                            <span th:text="#{cron.shutdown}">Pause scheduler</span>
                        </button>
                    </div>
                    <div class="form-group">
                        <button th:unless="${schedulerPaused == false}" type="submit" class="btn btn-success" form="form_start">
                            <span class="fas fa-play">&nbsp;&nbsp;</span>
                            <span th:text="#{cron.start}">Resume scheduler</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>