<!DOCTYPE HTML>
<html>
<head>
    <title>Poule index</title>
    <meta http-equiv="Content-Type" content="text/html;" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav th:replace="fragments/nav :: page(module='dashboard')">...</nav>

    <div class="jumbotron">
        <h1 class="display-4" th:text="#{dashboard.welcome}"></h1>
        <p class="lead" th:text="#{dashboard.lead}"></p>
        <hr class="my-4">
        <p th:text="#{dashboard.main}"></p>
    </div>


</body>
</html>
