<!DOCTYPE HTML>
<html>
<head>
    <title>Poule supervision</title>
    <meta http-equiv="Content-Type" content="text/html;" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/js/gauge.min.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/98f595d35c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav th:replace="fragments/nav :: page(module='supervision')">...</nav>

    <div class="mx-auto p-2">

        <h2 th:text="#{supervision.title}"></h2>

        <div class="flexcontainer">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <canvas id="CpuTemperatureCanvas" width="300" height="200" style="width: 300px; height: 200px">foo</canvas>
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{supervision.cpu.temperature}"></h5>
                            <span class="card-text" th:text="${insights.cpuTemperature}" id="cpuTemperatureValue"></span>
                            &nbsp;<span th:text="#{supervision.unit.celsius}"/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <canvas id="CpuCoreVoltageCanvas" width="300" height="200" style="width: 300px; height: 200px">foo</canvas>
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{supervision.cpu.corevoltage}"></h5>
                            <span class="card-text" th:text="${insights.cpuVoltage}" id="cpuCoreVoltageValue"></span>
                            &nbsp;<span th:text="#{supervision.unit.volts}"/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <canvas id="MemoryFreeCanvas" width="300" height="200" style="width: 300px; height: 200px">foo</canvas>
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{supervision.cpu.memoryfree}"></h5>
                            <span class="card-text" th:text="${insights.freeMemory}" id="memoryFreeValue"></span>
                            &nbsp;<span th:text="#{supervision.unit.megaoctets}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

      var opts = {
          angle: 0.15, // The span of the gauge arc
          lineWidth: 0.21, // The line thickness
          radiusScale: 1, // Relative radius
          pointer: {
            length: 0.6, // // Relative to gauge radius
            strokeWidth: 0.035, // The thickness
            color: '#000000' // Fill color
          },
          limitMax: false,     // If false, max value increases automatically if value > maxValue
          limitMin: false,     // If true, the min value of the gauge will be fixed
          colorStart: '#6FADCF',   // Colors
          colorStop: '#8FC0DA',    // just experiment with them
          strokeColor: '#EEEEEE',  // to see which ones work best for you
          generateGradient: true,
          highDpiSupport: true,     // High resolution support
        };

        var gauge = function(canvas_id, value, min, max) {
            var target = document.getElementById(canvas_id);
            var gauge = new Gauge(target).setOptions(opts);
            gauge.maxValue = max;
            gauge.setMinValue(min);
            gauge.animationSpeed = 45;
            gauge.set(value);
        }

        gauge('CpuTemperatureCanvas', document.getElementById("cpuTemperatureValue").innerHTML, 0, 100);
        gauge('CpuCoreVoltageCanvas', document.getElementById("cpuCoreVoltageValue").innerHTML, 0, 2);
        gauge('MemoryFreeCanvas', document.getElementById("memoryFreeValue").innerHTML, 0, 100000000);

    </script>

</body>
</html>